
<div style="text-align: center">
<h2>welcome {{name}}!</h2>
<!-- <input type='text' value='viswas'> -->

<button (click)='onclick($event);'>submit</button><br>
<h2>{{greeting}}</h2>
<input [id]='myid' type='text' value='viswas'>
<input [disabled]='isdisabled' id={{myid}} type='text' value=sravani>
 <p [class]='successclass'>this is class binding</p>
<p class='text-success'>this is regular expression</p>
<h1 [class]='danger'>code evolution</h1>
<h1 class='text-suc'>code evolution</h1>
<h2>welcome {{names}}</h2>
</div>